* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(1, 0, 31);
  color: white;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  width: 100%;
  padding-top: 2vh;
  overflow-x: hidden;
  width: 100%;
}

.titulo {
  font-size: 40px;
  padding: 5px;
}

.container {
  display: block;
  width: 100%;
}

.bloco1 button {
  font-size: 18px;
  background: none;
  border: none;
  color: white;
  padding-left: 5px;
}
.bloco2 button {
  font-size: 18px;
  background: none;
  border: none;
  color: white;
  padding-left: 5px;
}

label {
  display: flex;
}

.bloco1 label p {
  font-size: 18px;
  padding-left: 5%;
  text-align: right;
}

.bloco2 label p {
  font-size: 18px;
  padding-left: 5%;
  text-align: right;
}

.bloco1 {
  width: 50%;
  margin-right: 5%;
}
.bloco2 {
  width: 50%;
  margin-right: 5%;
}
.div1 {
  display: flex;
  padding: 5px;
  width: 100%;
}
.div2 {
  display: flex;
  padding: 5px;
  width: 100%;
}

.bloco3 {
  padding: 5px;
  width: 40%;
  margin: 5px;
}

.bloco4 {
  padding: 5px;
  width: 40%;
  color: black;
  background: gainsboro;
  margin: 5px;
}

#textarea1 {
  border: 1px solid rgba(255, 255, 255, 0.568);
  padding: 5px;
  outline: none;
  height: 35vh;
  min-width: 100%;
  resize: none;
  background: rgb(1, 0, 31);
  color: rgb(255, 255, 255);
  transition: all 500ms;
  font-size: 15px;
}

#textarea2 {
  border: 1px solid rgba(255, 255, 255, 0.568);
  padding: 5px;
  outline: none;
  height: 35vh;
  width: 100%;
  resize: none;
  background: rgb(1, 0, 31);
  color: rgb(255, 255, 255);
  transition: all 500ms;
  font-size: 15px;
}

#textarea1:focus-within {
  background-color: rgba(66, 195, 255, 0.248);
}
#textarea2:focus-within {
  background-color: rgba(66, 195, 255, 0.248);
}

#img {
  padding: 5px;
  height: 40vh;
  width: 100%;
}

.conteudo {
  border-top: solid 10px rgba(255, 255, 255, 0.555);
  text-align: left;
  display: flex;
  position: relative;
  margin-bottom: 20px;
  height: auto;
}

.conteudo-ct {
  max-width: 60%;
  padding: 3rem;
}

.conteudo p {
  text-align: justify;
}

.conteudo h1 {
  margin-top: 10%;
  border-bottom: white solid 1px;
}

.conteudo li {
  padding-top: 5px;
  text-align: justify;
}

.cta {
  padding: 5px;
  background: green;
  border: 1px solid white;
  color: white;
  transition: all 300ms;
  font-size: 15px;
  font-weight: bold;
}
.cta:hover {
  color: green;
  border: 1px solid green;
  background: white;
  letter-spacing: 0.5px;
}

.add {
  color: black;
  height: 30vh;
  background: gainsboro;
  margin-bottom: 5%;
}

@media screen and (max-width: 780px) {
  .container {
    display: block;
  }

  .div1,
  .div2 {
    max-width: 90%;
    min-width: 90%;
    display: block;
    overflow-x: hidden;
  }

  .bloco1 {
    width: 90%;
    margin: 20px;
  }

  .bloco2 {
    width: 90%;
    margin: 20px;
  }

  .bloco3 {
    width: 90%;
    margin: 20px;
  }

  .bloco4 {
    width: 90%;
    margin: 20px;
    height: 30vh;
  }

  .titulo {
    font-size: 25px;
  }

  .bloco1 label p {
    font-size: 13.5px;
  }

  .bloco2 label p {
    font-size: 13.5px;
  }
  .bloco1 button {
    font-size: 13.5px;
  }
  .bloco2 button {
    font-size: 13.5px;
  }

  .conteudo-ct {
    max-width: 100%;
  }

  .conteudo-ct li {
    text-align: left;
  }
}
